@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* google icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');




.container_general{
    height: 180em;
    
    background-color:#f8fbfc;
}

.navbar{
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
}