@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* google icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



html, body, #root{
    
    background-color:#f8fbfc;
}

.container_general{
    height: 200em;
    
    background-color:#f8fbfc;
}